{% extends '../index.html' %}
{% block context %}
{% load static%}
{% load i18n %}
<div class="container">
    <div class="shadow-lg p-5">
        <div class="row mt-5">
            <div class="col-12">
                <div class="p-2 h4">
                    <span>{% trans 'First Name:'%}</span>
                    <span class="font-weight-normal">{{user.first_name}} </span>
                </div>

                <div class="p-2 h4">
                    <span>{% trans 'Surname:' %}</span>
                    <span class="font-weight-normal"> {{user.last_name}}</span>
                </div>

                <div class="p-2 h4">
                    <span>{% trans 'Email:' %}</span>
                    <span class="font-weight-normal">{{user.email}}</span>
                </div>

                <div class="p-2 h4">
                    <span>{% trans 'Phone Number:' %}</span>
                    <span class="font-weight-normal">{{user.phoneNumber}}</span>
                </div>

                <div class="p-2 h4">
                    <span>{% trans 'Account Creation Date:' %}</span>
                    <span class="font-weight-normal">{{user.date_joined}}</span>
                </div>
                {% if user.id == request.user.id %}
                    <a href="{% url 'edit-profile' %}">
                        <button type="submit" name="submit" class="btn btn-success float-right">{% trans 'Edit' %}</button>
                    </a>
                {% endif %}
            </div>
            <h4>{% trans 'Booking List:' %}</h4>
            <table class="table table-hover table-striped">
                <thead class="bg-secondary rounded">
                    <tr>
                        <th>{% trans "Room Number" %} </th>
                        <th>{% trans "Date" %} </th>
                        <th>{% trans "Status" %} </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in user.booking_set.all %}
                        <tr>
                            <td>{{book.room_id}}</td>
                            <td>{{book.start_date}} - {{book.end_date}}</td>
                            <td>{{book.status}}</td>
                            <td>
                                {% if book.status == 'approved' %}
                                    <form action="" method="POST">
                                        <a href="{% url 'payment' book.booking_id %}" class="btn btn-sm btn-primary w-50">
                                            {% trans "Payment" %}
                                        </a>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
