{% load i18n %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg py-3 ">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand btn">
            <h2 class="text-capitalize">
                {% if user.is_authenticated %}
                    <a href="{% url 'user-profile' %}" class="link_profile">{{ user.username }}</a>-
                    {% if user.is_staff %}
                        <small> {% trans "Admin" %} </small>
                    {% else %}
                        <small> {% trans "Guest"%} </small>
                    {% endif %}
                {% else %}
                    <small>{% trans "Welcome to our hotel" %}</small>
                {% endif %}
            </h2>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarTags">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTags">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item p-2 ">
                    <a href="{% url 'index' %}" class="nav-link">{% trans "Home" %}</a>
                </li>
                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Options" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'user-profile' %}">{% trans "Profile" %}</a>
                                <a class="dropdown-item" href="{% url 'rooms' %}">{% trans "Rooms" %}</a>
                                <a class="dropdown-item" href="{% url 'room-add' %}">{% trans "Add room" %}</a>
                                <a class="dropdown-item" href="{% url 'list-users' %}">{% trans "List users" %}</a>
                                <a class="dropdown-item" href="{% url 'list-bookings-staff' %}">{% trans "List bookings" %}</a>
                                <a class="dropdown-item" href="{% url 'statistic_page' %}">{% trans "Statistic page" %}</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'user-profile' %}">{% trans "Profile" %}</a>
                                <a class="dropdown-item" href="{% url 'rooms' %}">{% trans "Room" %}</a>
                            {% endif %}
                        {% else %}
                            <a class="dropdown-item" href="{% url 'rooms' %}">{% trans "Room" %}</a>
                        {% endif %}
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item p-2 ">
                        <a href="{% url 'logout' %}?next={{request.path}}" class="nav-link">{% trans "Log Out" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item p-2 ">
                        <a href="{% url 'login' %}?next={{request.path}}" class="nav-link">{% trans "Log In" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
