* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.clearfix {
    overflow: auto;
}

body {
    position: relative;
}

/*Navbar*/
nav .nav-item {
    font-size: 20px;
}


/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #e2dada;
    margin-top: 30px;
}

.image_landing_page {
    width: 100%;
}

.link_profile:link{
    text-decoration: none;
}

.card_item {
    max-width: 18rem;
}
